body {
  background: $bg-color;
  font-family: $ff-s;
  font-weight: $fw-n;
  margin: 0;
  min-height: 100vh;
  padding: 0;
}
a {
  text-decoration: none;

  &:hover {
    color: #999;
    cursor: pointer;
    text-decoration: none;
  }
}

#root {
  padding: 86px 0 100px;
  
  @media screen and (min-width: 600px) {
    padding: 48px 0 100px;
  }
}

h1,
h2,
h3,
h4 {
  font-family: $ff-m;
}

div.no_image_holder {
  display: inline-block;
  font-family: FontAwesome;
  text-align: center;
  background-color: #7d7d7d;
  color: #585858;
  box-sizing: border-box;
  font-size: 1em;
  border-radius: 4px;
  border: 1px solid #d7d7d7;

  &.w50_and_h50 {
    height: 28vw;
    line-height: 28vw;
    font-size: 30px;
    width: 100%;

    @media screen and (min-width: 640px) {
      width: 50px;
      height: 50px;
      line-height: 50px;
      font-size: 20px;
    }
  }

  &.profile:before {
    content: "\f007";
  }
}

.loader {
  display: grid;
  grid-template-rows: 100vh;
  width: 100%;

  i {
    align-self: center;
    justify-self: center;
  }
}
