.season__header {
  background: #eee;
  border-top: 10px solid #ddd;
  border-bottom: 10px solid #ddd;
  font-size: 5em;
  
  padding: 30px 20px;

  &__inner {
    display: grid;
    grid-template-columns: 70px 4fr;
    grid-column-gap: 10px;
    height: 100px;
    max-width: 900px;
    margin: 0 auto;
    
    img {
      height: 100%;
    }
  }

  &__info {
    align-self: center;

    h2 {
      margin: 0;

      span {
        font-size: .65em;
      }
    }

    h4 a {
      color: #999;
    }
  }
  
}
.episodes {
  &__wrapper {
    margin: 0 auto;
    max-width: 960px;
    padding: 0 20px;
  }

  &__element {
    border-bottom: $separator;
    list-style-type: none;
    margin: 40px 0;
    padding: 0 0 40px;
  }
  
}

.episode {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-column-gap: 10px;
  padding: 0 10px;

  &-poster img{
    width: 100%;
  }

  &-details {
    padding: 0 20px;

    h3 {
      margin-top: 0;
    }
  }
}

