div.filter-element-wrapper {
  margin: 0 10px 20px;
}

.filter-element-wrapper .control-label {
  font: 14px arial;
  margin: 0 0 10px;
}

.pager {
  display: block;
  max-width: 980px;
  margin: 20px auto;
  overflow: hidden;
}

.form-inline {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 30px 0;
  width: 100%;  
}

.form-inline .form-control {
  width: 100%;
}

.Select-menu-outer {
  z-index: 4;
}

@media (min-width: 768px) {
  .form-inline {
    display: grid;
    grid-template-columns: 2fr 1fr 3fr 1fr;
    max-width: 960px;
    margin: 30px auto 0;
  }

  .form-inline .form-group {
      display: inline-block;
      margin-bottom: 0;
      vertical-align: middle;
  }

  .pager {
    margin: 30px auto;
  }
}