.home-list{
  margin: 40px 0 80px;
  padding: 0 10px;  

  &__title {
    font-size: 1.8em;
    margin: 20px 0 30px;
  }

  &__list {
    list-style: none;
    padding: 0;      
  }

  &__list-element a {
    color: #333;
    cursor: pointer;
    font-size: 1.1em;
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 10px 0;

    &:hover {
      color: #666;
    }

    & img {
      margin: 0 15px 0 0;
      width: 50px;
  
      @media screen and (min-width: 640px) {
        width: 30px;
      }
    }

    .list-data {

      &__title {
        overflow: hidden;
        width: 90%;
      }

      &__genres {
        font-size: 0.8em;
        font-style: italic;
        overflow: hidden;
        width: 90%;
      }
    }
  }
}