.full-background {
  display: none;
}

.main-header {
  border-bottom: $separator;
  color: #fff;
  display: block;
  position: relative;
}

.main-header-inner {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "mdata mdata" "mposter moverview" ". mtrailer" "mcrew mcrew";
  padding: 20px 0 40px;
  position: relative;
}

.main-header:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: block;
  filter: brightness(120%) grayscale(1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.main-header:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: block;
  will-change: opacity;
  filter: opacity(92%);
  transition: filter 1s;
}

.movie-tagline {
  display: none;
}

.poster {
  grid-area: mposter;
  grid-row: 2 / 4;
  margin-left: 10px;
  position: relative;
}

.poster img {
  border-radius: 2px;
  box-shadow: 0 0 20px -5px #000;
  width: 100%;
}

.movie-no-image-holder {
  background: #666;
  color: #444;
  font: 80px/513px FontAwesome;
  height: 513px;
  text-align: center;
  width: 342px;
}

.movie-no-image-holder:before {
  content: "\f03e";
}

.movie-no-image-holder.smaller {
  font: 60px/278px FontAwesome;
  height: 278px;
  width: 185px;
}

.movie-no-image-holder.smaller {
  font: 60px/231px FontAwesome;
  height: 231px;
  width: 154px;
}

.movie-data {
  grid-area: mdata;
  font-size: 12px;
  padding: 10px;
}

.movie-title {
  color: #fff;
  font-family: $ff-m;
  font-size: 20px;
  font-weight: $fw-n;
  letter-spacing: 1px;
  margin: 0;
}

.movie-rating {
  border: none;
  color: #fff;
  font-size: 22px;
  margin-left: 20px;
  padding-left: 23px;
  position: relative;
}

.movie-rating:before {
  font: 20px/20px FontAwesome;
  color: #e3cf7a;
  content: "\f005";
  left: 0;
  position: absolute;
  top: 2px;
}

.movie-rating:after {
  font-size: 12px;
  bottom: 2px;
  color: #bbb;
  content: "/10";
  right: auto;
  top: auto;
}

.title-tags {
  list-style: none;
  margin: 0;
  padding: 0;
}

.title-tags li {
  display: inline-block;
  padding: 0 10px;
  position: relative;
}

.title-tags li:first-child {
  padding-left: 0;
}

.title-tags li:not(:last-child):after {
  content: "\2022";
  position: absolute;
  right: -4px;
  top: 0;
}

.title-tags__genres {
  margin-left: 0;
  padding: 0;
}

li.movie-genres {
  border: none;
  padding: 0 2px;
}

li.movie-genres:not(:last-child):after {
  content: ",";
  position: relative;
  right: 0;
}

li.movie-genres:last-child:after {
  content: "";
}

.play-trailer-wrapper {
  grid-area: mtrailer;
  align-self: flex-end;
  margin-right: 10px;
}

.play-trailer {
  background: #000;
  border: none;
  color: #bbb;
  display: inline-block;
  font-family: 'Roboto';
  font-size: 12px;
  margin: 20px 0 0;
  padding: 5px 10px;
}

.play-trailer:hover {
  color: #999;
}

.play-trailer span {
  margin: 0 5px 0 0;
}

.overview {
  grid-area: moverview;
  margin-right: 10px;
}

.overview h4 {
  margin-top: 0;
}

.backdrop-element {
  background-size: cover;
  height: 100%;
  width: 100%;
}

.fullscreen-backdrop-slide {
  background-size: cover;
  background-repeat: no-repeat;
}

.similar-movies-img {
  cursor: pointer;
}

.cast {
  grid-area: mcast;
  padding: 0 10px;
}

.cast h4 {
  padding: 20px 0;
}

.cast-wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(7em, 1fr));
}

.crew {
  grid-area: mcrew;
  padding: 0 10px;
}

.crew-element {
  font-size: 3vw;
  text-align: left;
}

.crew-col img {
  width: 90%;
}

.full-crew-btn {
  background: none;
  border: none;
  font-size: 1.2em;
  font-weight: bold;
  margin: 30px 0 0;
}

.similar h4 {
  margin-left: 10px;
}

.movie-add-watchlist {
  &__wrapper {
    cursor: pointer;
    left: 15px;
    position: absolute;
    top: -8px;
  }

  &__icon {
    color: #FBC500;
    font-size: 3rem;
    text-shadow: 2px 2px 8px #000;
    transition: .3s linear;

    @media screen and (min-width: 776px) {
      font-size: 5rem;
    }
  }
}

@media screen and (min-width: 776px) {
  .full-background {
    display: block;
  }
  .main-header {
    border-top: $separator;

    &-inner {      
      grid-column-gap: 40px;
      grid-template-columns: minmax(200px, 1fr) minmax(400px, 2fr);
      grid-template-rows: auto;
      grid-template-areas: "mposter mdata" "mposter moverview" "mposter mcrew" "mposter mtrailer" "mcast mcast";
      max-width: 960px;
      margin: 0 auto;
      padding: 40px 0;
    }
  }
  .poster {
    grid-row: 1/5;
  }
  .movie-title {
    font-size: 2.3em;
    margin: 20px 0 0;
  }
  .movie-data {
    font-size: 1.2em;
    padding: 0;
  }
  .cast {
    margin: 0 auto;
    max-width: 960px;
  }
  .cast-wrapper {
    grid-gap: 20px;
    grid-template-columns: repeat(6, 1fr);
  }
  .cast-element {
    font-size: 1em;
  }
  .crew {
    padding: 0;
  }
  .crew-wrapper {
    grid-gap: 20px;
  }
  .crew-element {
    font-size: 1em;
  }
}
