.navbar-default {
  .navbar-brand {
    color: #fff;

    &focus,
    &:hover {
      color: #ddd;
    }
  }

  .navbar-text {
    color: #fff;

    a {
      color: #fff;

      &:hover {
        color: #ddd;
      }
    }
  }

  .navbar-nav li a:hover {
    color: #ddd;
  }
}

.navbar-collapse.in {
  overflow-y: visible;
}

.navbar-collapse .dropdown.btn-group {
  @media screen and (min-width: 768px) {
    float: right;
    margin-right: 58px;
  }
}


#user-dd {
  background: none;
  border: none;
  color: #ccc;  
  margin: 15px 15px 2px;
  padding: 0;

  .navbar-default &.navbar-nav>li>a {
    color: #fff;

    &:hover {
      color: #ddd;
    }
  }
  
  .dropdown-header {
    .title {
      color: #000;
      font-size: 14px;
      font-weight: bold;
    }
  }

  .menuitem {
    color: #666;
    font-size: 13px;
    font-weight: bold;
  }
}
