.navbar {
  background: #1f1d1d;
  border: none;
  box-shadow: 0 0 20px #000;
}

.navbar .container {
  max-width: 990px;
  padding: 0 15px;
  width: 100%;
}

.nav-search.navbar-nav {
  margin: 10px 0;
}

.navbar-form .form-control.rbt-input {
  background: #fff;
  line-height: 31px;
  min-width: 300px;
  padding: 0 0 0 25px;
  width: 100%;
}

.navbar-form .form-control.rbt-input:before {
  color: #000;
  content: "\f002";
  font: normal normal normal 15px/32px FontAwesome;
  left: 6px;  
  position: absolute;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.movie-search-img-thumb {
  height: 50px;
  margin-left: -10px;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .nav-search.navbar-nav {
    margin: 0;
  }
}
