.top-lists-wrapper {
  display: grid;
  
  @media screen and (min-width: 640px) {
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    width: 70%    
  }

}
.top-list {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  margin: 0 auto;
  padding: 0 10px;

  @media screen and (min-width: 640px) {
    grid-template-columns: 1.555fr 2fr 2fr;
    width: 70%;
  }

  &-main-title {
    margin: 40px auto;
    padding: 0 10px;
    
    @media screen and (min-width: 640px) {
      width: 70%;
    }
  }

  &__element {
    cursor: pointer;
    position: relative;

    img {
      width: 100%;
    }

    &-title {
      bottom: 10px;
      color: #fff;
      left: 10px;
      position: absolute;
      text-shadow: 0 0 5px #000;
    }
  }
}

.featured {
  @media screen and (min-width: 640px) {
    grid-row: 1 / span 2;
  }
}

.top-genres-list {
  list-style: none;
  margin: 0 auto 20px;
  padding: 0 10px;
  width: 70%;

  li {
    cursor: pointer;
    display: inline;
    margin: 0 10px 0 0;

    &.active {
      font-weight: bold;
    }

    &:focus,
    & span:focus {
      outline: none;
    }
  }

}
