@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:300,400');   
   
$ff-m: 'Roboto', serif;
$ff-s: 'Open Sans', serif;

$fw-n: 300;
$fw-b: 900;

@mixin sans-serif($fs, $ls: .15em, $color: $dark-gray, $tt: uppercase, $lh: 1) {
  font-size: $fs;
  letter-spacing: $ls;
  color: $color;
  text-transform: $tt;
  line-height: $lh;
  font-family: $ff-ss;
  font-weight: $fw-n;
} 

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}