body {
  margin: 0;
  padding: 0;
}

a:hover {
  color: #999;
  text-decoration: none;
}

.navbar {
  margin-bottom: 0;
}

.bootstrap-typeahead {
  margin: 0 30px 0 0;
}

.nav-discover {
  color: #bbb;
  display: inline-block;
  font: 20px/20px "Trebuchet MS";
  margin: 0 30px;
}

.movie-search-img-thumb {
  height: 50px;
  margin-left: -10px;
  margin-right: 10px;
}

.discover-wrapper {
  overflow: hidden;
}
