.main-header {
  position: relative;
}

.main-header:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: block;
  filter: brightness(120%) grayscale(1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

div.custom_bg:before {
    filter: opacity(92%);
}

div.custom_bg:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: block;
    will-change: opacity;
    filter: opacity(92%);
    transition: filter 1s;
}

.profile-row{
  border-bottom: 1px solid #666;
  padding: 15px 0 25px;
}

.profile-row--no-border{
  border: none;
}

.poster-col {
  padding: 35px 0;
}

.poster-col img {
  box-shadow: 0 0 40px -5px #000;
}

.movie-no-image-holder {
  background: #666;
  color: #444;
  font: 80px/513px FontAwesome;
  height: 513px;
  text-align: center;
  width: 342px;
}

.movie-no-image-holder:before {
  content: "\f03e";
}

.movie-no-image-holder.smaller {
  font: 60px/278px FontAwesome;
  height: 278px;
  width: 185px;
}

.movie-no-image-holder.smaller {
  font: 60px/231px FontAwesome;
  height: 231px;
  width: 154px;
}


.movie-title {
  color: #fff;
  font-family: "Arial";
  letter-spacing: 1px;
}

.movie-rating {
  border: none;
  color: #fff;
  font-size: 22px;
  margin-left: 20px;
  padding-left: 23px;
  position: relative;
}

.movie-rating:before {
  font: 20px/20px FontAwesome;
  color: #e3cf7a;
  content: "\f005";
  left: 0;
  position: absolute;
  top: 2px;
}

.movie-rating:after {
  font-size: 12px;
  bottom: 2px;
  color: #bbb;
  content: "/10";
  right: auto;
  top: auto;
}

.title-tags li {
  padding: 0 10px;
  position: relative;
}

.title-tags li:not(:last-child):after {
  content: "\2022";
  position: absolute;
  right: -4px;
  top: 0;
}

.title-tags__genres{
  margin-left: 0;
}

li.movie-genres {
  border: none;
  padding: 0 2px;
}

li.movie-genres:after {

}

li.movie-genres:not(:last-child):after {
  content: ",";
  position: relative;
  right: 0;
}

li.movie-genres:last-child:after {
  content: "";
}

.play-trailer {
  background: none;
  border: none;
  color: #bbb;
  display: block;
  font-size: 16px;
  margin: 20px 0 0;
  padding: 0;
}

.play-trailer:hover {
  color: #999;
}

.play-trailer span {
  margin: 0 5px 0 0;
}

.backdrop-element {
  background-size: cover;
  height: 100%;
  width: 100%;
}

.crew-col img {
  width: 90%;
}


.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.fullscreen-backdrop-slide {
  background-size: cover;
  background-repeat: no-repeat;
}

.cast-img {
  cursor: pointer;
}

.similar-movies-img {
  cursor: pointer;
}
