body {
  margin: 0;
  padding: 0;
}

a:hover {
  color: #999;
  text-decoration: none;
}

.navbar {
  margin-bottom: 0;
}

.bootstrap-typeahead {
  margin: 0 30px 0 0;
}

.nav-discover {
  color: #bbb;
  display: inline-block;
  font: 20px/20px "Trebuchet MS";
  margin: 0 30px;
}

.movie-search-img-thumb {
  height: 50px;
  margin-left: -10px;
  margin-right: 10px;
}

.main-header {
  position: relative;
}

.main-header:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: block;
  filter: brightness(120%) grayscale(1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

div.custom_bg:before {
    filter: opacity(92%);
}

div.custom_bg:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: block;
    will-change: opacity;
    filter: opacity(92%);
    transition: filter 1s;
}

.profile-row{
  border-bottom: 1px solid #666;
  padding: 15px 0 25px;
}

.profile-row--no-border{
  border: none;
}

.poster-col {
  padding: 35px 0;
}

.poster-col img {
  box-shadow: 0 0 40px -5px #000;
}

.movie-title {
  color: #fff;
  font-family: "Arial";
  letter-spacing: 1px;
}

.movie-title span {
  color: #999;
  font-family:  "Trebuchet MS";
  font-size: 20px;
  letter-spacing: 0.01em;
  margin-left: 10px;
}

.title-tags li {
  padding: 0 10px;
  position: relative;
}

.title-tags li:after {
  content: "\2022";
  position: absolute;
  right: -4px;
  top: 0;
}

.title-tags__genres{
  margin-left: 0;
}

li.movie-genres {
  border: none;
  padding: 0 2px;
}

li.movie-genres:after {

}

li.movie-genres:not(:last-child):after {
  content: ",";
  position: relative;
  right: 0;
}

li.movie-genres:last-child:after {
  content: "";
}

li.movie-rating {
  border: none;
  color: #fff;
  font-size: 22px;
  margin-left: 10px;
  padding-left: 23px;
  position: relative;
}

.movie-rating:before {
  font: 20px/20px FontAwesome;
  color: #e3cf7a;
  content: "\f005";
  left: 0;
  position: absolute;
  top: 5px;
}

li.movie-rating:after {
  font-size: 12px;
  bottom: 2px;
  color: #bbb;
  content: "/10";
  right: auto;
  top: auto;
}

.play-trailer {
  background: none;
  border: none;
  color: #bbb;
  display: block;
  font-size: 16px;
  margin: 20px 0 0;
  padding: 0;
}

.play-trailer:hover {
  color: #999;
}

.play-trailer span {
  margin: 0 5px 0 0;
}

.similar-movies__element {
  cursor: pointer;
}

.movies-list__element {

}

.movies-poster {
  cursor: pointer;
  width: 100%;
}

.movies-title {
  display: block;
  float: left;
  font: 20px/20px arial, helvetica, sans-serif;
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 70%;
}

.movies-rating {
  display: block;
  float: right;
  font: 20px/20px arial, helvetica, sans-serif;
  margin-top: 10px;
  padding-left: 22px;
  position: relative;
  text-align: right;
}

.movies-rating:before {
  font: 20px/20px FontAwesome;
  color: #666;
  content: "\f005";
  left: 0;
  position: absolute;
}

.movies-year {
  float: left;
  margin: 5px 0 0;
  padding-left: 14px;
  position: relative;
}

.movies-year:before {
  content: "\f073";
  left: 0;
  font: 12px/12px FontAwesome;
  position: absolute;
  top: 3px;
}

.movies-genres {
  display: block;
  float: right;
  margin: 5px 0 0;
  overflow: hidden;
  text-align: right;
  font-style: italic;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 200px;
}

.movies-overview {
  display: block;
  display: -webkit-box;
  height: 120px;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  margin: 20px 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.discover-wrapper {

  overflow: hidden;
}

div.filter-element-wrapper {
  margin: 30px 20px 50px 0 !important;
}

.filter-genres-wrapper {
  width: 400px;
}

.filter-element-wrapper .control-label {
  font: 14px arial;
  margin: 0 0 10px;
}
